<div class="container">
  <div class="row align-items-center">
    <div class="col-md-6 pr-6">
      <h1 class="solution-header">From Short-Term to Long-Term</h1>
      <p class="solution-text">
        <strong>Advantages in adaptability, economy, and safety.</strong> <br>
        Find the perfect candidate for the position, give them a chance to prove themselves on the job, and then easily
        convert them to a full-time worker.
      </p>
      <a href="" class="btn btn-outline-secondary">Talk to Us</a>
    </div>
    <div class="col-md-6">
      <img src="/assets/16.png" alt="" class="img-fluid">
    </div>
  </div>
</div>
  <div class="pt-pb-6 bg-clr-temp-to-perm-stffinng">
    <div class="container">
      <div class="row gx-5">
        <div class="col-md-6">
          <img src="/assets/13-transparent.png" alt="" class="img-fluid">
        </div>
        <div class="col-md-6">
          <p class="temp-to-perm-stffinng-text-head">Let Us Assist You in Temporarily Staffing Your Ideal Workforce</p>
          <p class="temp-to-perm-stffinng-text">Find the best candidates for available roles with our temporary-to-permanent employment solution.</p>
          <p class="temp-to-perm-stffinng-text">Before making a final hiring choice and bringing someone on full-time, find out whether the two of you are a good fit.</p>
          <p class="temp-to-perm-stffinng-text">Make sure you're employing the best possible personnel for your open full-time positions, and you'll save money.</p>
          <p class="temp-to-perm-stffinng-text">Until you're ready to convert permanent employees, you can make use of all of our temporary staffing services with our temp-to-perm solution.</p>
          <p class="temp-to-perm-stffinng-text">Reduce employee turnover by finding and employing people who mesh well with your company's culture.</p>
          <p class="temp-to-perm-stffinng-text">Raise the rate of staff retention across the board.</p>
        </div>
      </div>
    </div>
   
  </div>




<app-lets-grow></app-lets-grow>