<!-- hero section -->
<section style="background-color: #267f6a;">
  <div class="container" >
    <div class="row pt-4 align-items-center">
      <div class="col-md-3">
        <h3 class="section-para">
          We work better together with big ideas and great talent.
        </h3>
        <h6 class="section-text">Connect to the Right People, Right Here, Right Now.</h6>
        <a href="{{appUrl}}/auth/sign-in/" class="btn btn-outline-secondary text-white">Get Started</a>
          <a href="{{url}}" target="_blank"><img src="/assets/jc-qr-code-my-white.png" class="img-fluid" /></a>
      </div>
      <div class="col-md-9 text-end">
        <img src="/assets/large.png" alt="">
      </div>
    </div>
  </div>
</section>