.pricing-wrap{
    padding-top: 50px;
    padding-bottom: 90px;
}
.pricing-header{
    font-size: 40px;
    line-height: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
    --tw-text-opacity: 1;
    color: hsl(var(--n) / 1);
}
.pricing-card-header{
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-bottom: 1rem;

}
.pricing-card-wrap{
    border: 1px solid black;
    border-radius: 0.75rem;
}
.pricing-amt{
    font-weight: 700;
    font-size: 42px;
    margin-bottom: 1.25rem;

}
a.btn.btn-outline-secondary.text-danger.pricing-btn.text-capitalize:hover {
    color: white !important;
    --bs-bg-opacity: 1;
    background-color: rgba(220, 53, 69, 1) !important;
}
a.btn.btn-outline-secondary.text-danger.pricing-btn.text-capitalize, a.btn.btn-outline-secondary.text-white.pricing-btn.bg-danger.text-capitalize {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    padding: 1rem;
    border: 1px solid red;
    border-radius: 0.375rem;
    width: 100%;
    margin-bottom: 0;
}
.svg-position{
    position: absolute;
    left: 92%;
    right: auto;
    bottom: auto;
    top: 12%;
    transform: translate(-50%, -50%);
}
