<div class="styles_white__WbD_6 styles_bg-valentino__H0AAY footer_footer-upper__NHeY0">
  <div class="container">
    <div class="footer_footer-menu__4BjIY">
    </div>
    <div class="copyright_footer-notes__e3Yqw copyright_bg-white-lilac__MG_Zv styles_left-to-c__WITFr">
      <div class="container_container__NjHmW">


        <div class="row align-items-center">
          <div class="col-md-4">
            <p class="text-white mb-0">
              22 Frederick St, Suite 700, Kitchener ON N2H 6M6
            </p>
          </div>
          <div class="col-md-4">
            <div class="icon-sp">
              <ul class="mb-0">
                <li>
                  <i class="fa-brands fa-xl fa-facebook-f text-white"></i>
                </li>
              </ul>
              <li>
                <i class="fa-brands fa-xl fa-linkedin-in text-white ms-4"></i>
              </li>
              <li>
                <i class="fa-brands fa-xl fa-x-twitter text-white ms-4"></i>
              </li>
              <li>
                <i class="fa-brands fa-xl fa-instagram text-white ms-4"></i>
              </li>
            </div>
          </div>
          <div class="col-md-4">
            <div class="text-end img-position">
              <img src="/assets/app-store.svg" alt="" class="appstore-png">
              <img src="/assets/play-store.png" alt="" class="playstore-png">
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
<div class="bg-black pt-4 pb-4" style="border-top: 1px solid white;">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center">
        <p class="text-white mb-0" style="font-size: 14px;">Copyright © 2023. All rights reserved</p>
      </div>
      <div class="col-md-6 text-center">
        <div class="link-tab">
          <a href="contact-us"> Contact Us </a>
          <a href="blog"> Blog </a>
          <a href="cookie-policy"> Cookie Policy </a>
          <a href="terms-of-service"> Terms Of Service </a>
        </div>
      </div>
    </div>
  </div>
</div>